/* You can add global styles to this file, and also import other style files */

/* Colors! */
:root {
    --darkBlueArco: #1b1c34;
    --lightBlueArco: #4381c0;
    --orangeArco: #e4452e; 
}

html, body{
    height: 100%;
}